
**/.idea

**/__pycache__

**/kit_media/*
**/kit_static_root/*
**/kit_staticfiles_dirs/*

**/migrations/*

!**/placeholder.txt
!**/migrations/__init__.py

**/.DS_Store
**/*.bak
**/*.log
**/*.pot
**/*.pyc
**/*.sqlite3


