{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static "landing-page/css/landing-page-newsletter-success.css" %}"/>

    <link rel="shortcut icon" href="{% static "landing-page/img/favicon.ico" %}" type="image/x-icon">

    <title>{{ context.label }}</title>
</head>

<body>

    <div class="landing-page-newsletter-success-rnd-container">

        <div class="landing-page-newsletter-success-rnd">

            <h2>You are All Set!</h2>

            <br/>

            <p>It's good to have you. Thank you for subscribing!</p>

            <br/>

            <a href="/">Go to Home Page</a>

        </div>

    </div>

</body>

</html>