{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static "landing-page/css/landing-page-contact-success-rnd.css" %}"/>

    <link rel="shortcut icon" href="{% static "landing-page/img/favicon.ico" %}" type="image/x-icon">

    <title>{{ context.label }}</title>
</head>

<body>

    <div class="landing-page-contact-success-rnd-container">

        <div class="landing-page-contact-success-rnd">

            <h2>We've Received Your Request</h2>

            <br/>

            <p>Thank you for contacting us. We'll be in touch with you shortly!</p>

            <br/>

            <a href="/">Go to Home Page</a>

        </div>

    </div>

</body>

</html>